*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.App{
    background-color:rgb(190, 102, 19);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 400px;
    border-radius: 1rem;
}
h1{
    color:rgb(183, 220, 234);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
p{
    color: rgb(150, 205, 216);
    margin-top: 1.5rem;
    font-size: 20px;
}
#temp{
    font-size: 48px;
    color: rgb(38, 152, 222);
}
button{
    padding: 0.5rem 2rem;
    border: none;
    background-color: rgb(7, 119, 231) ;
    color: white;
    font-size: 16px;
    transition: all 0.2 ease-in;
}
button:hover{
    background-color: rgb(233, 188, 24);
    cursor: pointer;
}
#city{
    font-weight: 600;
    font-size: 25px;
    color: rgb(175, 227, 241);
}